@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
}

@font-face {
  font-family: "Fragment";
  src: url(../fonts/Fragment/PPFragment-SerifRegular.otf);
}
body {
  color: #ffffff;
}

.header {
  background-color: #212427;
  color: #ffffff;
}

#nav-father {
  background-color: #212427;
  margin: 0px;
  padding: 0px;
}

#nav-container {
  background-color: #212427;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
}
#nav-container a {
  text-decoration: none;
}
#nav-container a span {
  display: none;
}

#logo img {
  width: 48px;
  height: 48px;
}

main {
  background-color: #212427;
}

#main-nav {
  margin: 1rem;
  display: flex;
  font-weight: 400;
  padding: 10px 10px;
}
#main-nav a {
  color: #ffffff;
  text-decoration: none;
  transition: all 300ms ease;
  border-radius: 16px;
}
#main-nav a:hover {
  transition: all 300ms ease;
  text-decoration: none;
  color: #000000;
  font-weight: 800;
  border-radius: 16px;
  padding: 5px 15px;
  background-color: #ffffff;
}
#main-nav li {
  margin: 0 1rem;
  text-decoration: none;
  transition: all 300ms ease;
  border-radius: 16px;
}

#drawer-button {
  color: #fff;
  background-color: #fff;
}

/* Inicio */
.brand-name {
  font-size: 2rem;
}

#intro {
  color: #ffffff;
  display: flex;
  padding: 4rem 12rem;
  align-items: center;
}

main a {
  text-decoration: none;
}

#descripciones {
  padding: 6rem;
  font-size: 2rem;
  font-weight: 200;
}
#descripciones span {
  color: #1cbfdf;
  font-size: 4rem;
  font-weight: 1200;
  font-family: "Fragment";
}
#descripciones p {
  color: #ffffff;
  font-size: 2rem;
}

.logos-container {
  display: flex;
  margin: auto;
  width: 100%;
  grid-gap: 50px;
  padding: 45px 0;
}

.logos {
  line-height: 46px;
  font-size: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #1cbfdf;
}

.cv-btn button {
  margin-top: 10px;
  padding: 10px 24px;
  font-size: 1rem;
  border-radius: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  display: inline;
  font-weight: bold;
  color: #000000;
  border-style: solid;
  border-color: #fff;
  transition: all 300ms ease;
  cursor: pointer;
}
.cv-btn button:hover {
  background-color: #212427;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  font-weight: 900;
}

.about-btn button {
  margin-top: 10px;
  padding: 10px 24px;
  font-size: 1rem;
  border-radius: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #212427;
  display: inline;
  font-weight: bold;
  color: #9d9d9d;
  border-style: solid;
  border-color: #9d9d9d;
  transition: all 300ms ease;
  cursor: pointer;
}
.about-btn button:hover {
  background-color: #212427;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  font-weight: bold;
}

#projects {
  max-width: 1500px;
  margin: auto;
  padding-bottom: 40px;
}

#projects-info-container {
  width: 100%;
}
#projects-info-container h2 {
  font-family: "Fragment";
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
#projects-info-container span {
  color: #1cbfdf;
  font-family: "Fragment";
  font-style: italic;
}

#projects-container {
  width: 100%;
  display: flex;
  align-items: center;
  place-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  border-radius: 16px;
  background-color: #333538;
}
#projects-container img {
  border-radius: 8px;
  transition: all 0.3s ease;
}
#projects-container a div {
  display: block;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  color: #212427;
  transition: all 0.3s ease;
}

#a-link-projects {
  transition: all 0.3s ease;
}
#a-link-projects img {
  width: 328px;
}
#a-link-projects:hover {
  filter: brightness(0.7);
}

/* Portfolio Page */
#last-project {
  display: block;
}
#last-project #figma-prototype {
  width: 360px;
  height: 800px;
}

#last-project-container {
  text-align: center;
  padding: 40px 0;
}
#last-project-container h1 {
  font-size: 42px;
  font-weight: bold;
  padding: 40px;
}
#last-project-container h1 span {
  color: #1cbfdf;
  font-family: "Fragment";
}

/* Footer */
#footer {
  width: 100%;
  background-color: rgb(20, 18, 18);
  font-size: 18px;
  bottom: 0%;
  position: relative;
}
#footer a {
  color: #bbbbbb;
  transition: all 0.3s ease;
}
#footer a:hover {
  color: #1cbfdf;
  padding-left: 10px;
}
#footer #footer-container {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 45px 0;
  flex-wrap: wrap;
}
#footer #footer-container #footer-columns {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#footer #footer-container #footer-columns .contacto {
  width: 360px;
}
#footer #footer-container #footer-columns .indice {
  width: 90px;
  margin: 0;
  padding: 0;
}
#footer #footer-container #footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
#footer #footer-container #footer-social a {
  text-decoration: none;
  color: #bbbbbb;
  width: 70px !important;
  line-height: 70px !important;
  margin-right: 10px;
  background-color: #212427;
  text-align: center;
  border-radius: 100%;
  transition: all 300ms ease;
}
#footer #footer-container #footer-social a:hover {
  color: #ffffff;
  background-color: #00667a;
  padding-left: 0;
}
#footer #footer-bottom {
  background-color: #070707;
  padding: 15px 10px;
  text-align: center;
  color: #ffffff;
}
#footer #footer-bottom small {
  font-size: 15px;
}

/* Contacto Page */
#main-contact {
  padding: 25px;
}

#contacto-container h1 {
  font-family: Fragment;
  font-size: 48px;
  font-weight: bold;
  color: #1cbfdf;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Botones */
#buttons-container {
  margin: 10px auto;
}
#buttons-container #checkbox {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
#buttons-container #checkbox ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
  height: 300px;
}
#buttons-container #checkbox ul li {
  display: inline-block;
  margin: 0 20px;
}
#buttons-container #checkbox ul li label {
  display: inline-block;
  background-color: #212427;
  border: 1px solid #9d9d9d;
  color: #bbbbbb;
  border-radius: 16px;
  transition: all 0.3s ease;
  padding: 20px 40px;
  font-size: 30px;
  font-weight: bold;
}
#buttons-container #checkbox ul li label:hover {
  font-weight: bold;
  border-color: #0093b1;
}
#buttons-container #checkbox ul li input[type=checkbox] {
  opacity: 0;
}
#buttons-container #checkbox ul li input[type=checkbox]:checked + label {
  border-color: #ffffff;
  background-color: #00667a;
}

/* Formulario */
#forms {
  max-width: 1200px;
  margin: 10px auto;
  background-color: #333538;
  border-radius: 16px;
  padding: 40px;
}
#forms h2 {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 40px;
}

#form-container {
  width: 100%;
  display: flex;
  margin: auto;
}
#form-container input {
  width: max-content;
  padding: 20px 40px;
  margin: 0 auto;
  background-color: #535456;
  border: none;
  color: #fff;
  font-weight: 800;
  border-radius: 16px;
  font-size: 20px;
}

#submit-btn {
  margin: 40px 0;
  display: flex;
  justify-content: right;
}
#submit-btn button {
  padding: 10px 80px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #212427;
  display: inline;
  font-weight: bold;
  color: #bbb;
  border-style: solid;
  border-color: #bbb;
  transition: all 300ms ease;
  cursor: pointer;
}
#submit-btn button:hover {
  background-color: #00667a;
  color: #fff;
}

main a {
  text-decoration: none;
}

.descripciones {
  padding: 6rem;
  font-size: 2rem;
  font-weight: 200;
}
.descripciones span {
  color: #1cbfdf;
  font-size: 4rem;
  font-weight: 1200;
  font-family: "Fragment";
}
.descripciones p {
  color: #ffffff;
  font-size: 2rem;
}

/* About Page */
#about {
  color: #ffffff;
  display: flex;
  padding: 4rem 12rem;
  align-items: center;
}

#descripciones-about {
  padding: 6rem;
  font-size: 2rem;
  font-weight: 200;
}
#descripciones-about span {
  color: #1cbfdf;
  font-size: 4rem;
  font-weight: 1200;
  font-family: "Fragment";
}

.education-btn button {
  margin-top: 50px;
  padding: 10px 24px;
  font-size: 1rem;
  border-radius: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #212427;
  display: inline;
  font-weight: bold;
  color: #9d9d9d;
  border-style: solid;
  border-color: #9d9d9d;
  transition: all 300ms ease;
  cursor: pointer;
  transition: all 0.3s ease;
}
.education-btn button:hover {
  background-color: #212427;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  font-weight: bold;
}

.contact-btn button {
  margin-top: 10px;
  padding: 10px 24px;
  font-size: 1rem;
  border-radius: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  display: inline;
  font-weight: bold;
  color: #000000;
  border-style: solid;
  border-color: #fff;
  transition: all 300ms ease;
  cursor: pointer;
}
.contact-btn button :hover {
  background-color: #212427;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  font-weight: 900;
}

#aboutme-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-container {
  display: flex;
  padding: auto;
  justify-content: space-between;
}

#more-info {
  max-width: 1500px;
  margin: auto;
  padding-bottom: 40px;
}

/* Sección Izquierda */
#aptitudes {
  display: inline-block;
  padding: 50px;
  background-color: #333538;
  border-radius: 16px;
  box-shadow: 0 0 20px rgb(22, 25, 27);
  width: 720px;
}
#aptitudes h2 {
  font-size: 46px;
  font-family: "Fragment";
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
#aptitudes h2 span {
  color: #1cbfdf;
  font-family: "Fragment";
  font-style: italic;
}

.aptitudes-ul {
  display: flex;
  padding: 0 30px;
}
.aptitudes-ul ul li {
  padding: 10px;
  font-size: 28px;
}
.aptitudes-ul ul li i {
  margin-right: 40px;
  font-size: 28px;
  width: 29px;
  text-align: center;
}

/* Sección Derecha */
#habilidades-container {
  display: inline-block;
  padding: 50px;
  background-color: #333538;
  border-radius: 16px;
  box-shadow: 0 0 20px rgb(22, 25, 27);
  width: 720px;
}
#habilidades-container h2 {
  font-size: 46px;
  font-family: "Fragment";
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
#habilidades-container h2 span {
  color: #1cbfdf;
  font-family: "Fragment";
  font-style: italic;
}

.habilidades-ul {
  display: flex;
  padding: 0 30px;
}
.habilidades-ul ul li {
  padding: 10px;
  font-size: 28px;
}
.habilidades-ul ul li i {
  margin-right: 40px;
  font-size: 28px;
  width: 29px;
  text-align: center;
}

/* About-Educación */
.education-section {
  max-width: 1500px;
  padding: 40px 0;
  margin: auto;
}
.education-section h2 {
  font-size: 38px;
  font-weight: bold;
  margin: 40px 0;
}

#educacion {
  width: 100%;
}
#educacion .left-education h4 {
  font-weight: normal;
}
#educacion .left-education h4 span {
  font-weight: bold;
  font-size: 20px;
}
#educacion .right-education {
  text-align: right;
}
#educacion .right-education a {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  transition: all 0.3s ease;
}
#educacion .right-education a:hover {
  color: #1cbfdf;
}

#psp-illustrator {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  border-top: 1px solid #535456;
}

#uxui {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  border-top: 1px solid #535456;
}

#uxui-avanzado {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  border-top: 1px solid #535456;
}

#webd {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  border-top: 1px solid #535456;
}

/* Habilidades Page */
.about-main {
  display: flex;
  justify-content: center;
  padding: 100px;
}

#skill-container {
  background-color: #333538;
  display: flex;
  border-radius: 16px;
  justify-content: center;
  align-items: top;
  max-width: 1200px;
  padding: 25px auto;
  margin-bottom: 25px;
  width: 100%;
}

#habilidades {
  max-width: 1200px;
  padding: 25px;
  display: inline-block;
  border-radius: 16px;
  margin: 50px;
}
#habilidades h1 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 48px;
  color: #1cbfdf;
}
#habilidades p {
  margin-bottom: 25px;
  color: #bbb;
  text-align: center;
}
#habilidades ul {
  padding: 25px 0;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 175px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  text-align: center;
}
#habilidades ul li {
  display: inline;
  align-items: center !important;
  width: 220px;
  padding: 25px;
  font-size: 26px;
  border-radius: 16px;
  background-color: #212427;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 20px #212427;
}
#habilidades ul li:hover {
  background-color: #535456;
}
#habilidades ul li i {
  font-size: 46px;
  display: block;
  padding: 20px 25px;
}

/* md-Desktop */
@media (min-width: 1024px) and (max-width: 1599px) {
  /* Home Page */
  #Hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #intro {
    padding: 3rem 2rem;
  }
  #img-container img {
    width: 300px;
  }
  #descripciones {
    padding-left: 12rem;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 200;
    align-items: center;
  }
  #descripciones span {
    color: #1cbfdf;
    font-size: 3rem;
    font-weight: 1200;
    font-family: "Fragment";
  }
  #descripciones p {
    color: #ffffff;
    font-size: 1.5rem;
  }
  .logos-container {
    padding: 1rem 0;
  }
  .logos-container .logos {
    font-size: 36px;
    line-height: 36px;
  }
  #projects {
    margin: 0px;
    width: 100%;
    display: flex;
  }
  #projects-info-container {
    padding: 20px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
  }
  #projects-container {
    margin: auto;
    padding: 0;
  }
  #a-link-projects {
    margin: auto;
    padding: 20px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
  }
  #a-link-projects a img {
    align-items: center;
    justify-content: center;
    width: 280px;
  }
  /* About Page */
  #about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  #descripciones-about {
    padding-left: 12rem;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 200;
    align-items: center !important;
  }
  #descripciones-about span {
    color: #1cbfdf;
    font-size: 3rem;
    font-weight: 1200;
    font-family: "Fragment";
  }
  #descripciones-about p {
    color: #ffffff;
    font-size: 1.5rem;
  }
  /* About-Skills */
  #more-info {
    margin: auto;
    padding-bottom: 40px;
  }
  #info-container {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
  }
  #aptitudes {
    padding: 20px;
    width: 450px;
  }
  #aptitudes h2 {
    font-size: 36px;
    margin-bottom: 32px;
  }
  #aptitudes ul {
    padding: 0 30px;
  }
  #aptitudes ul li {
    padding: 10px;
    font-size: 24px;
  }
  #aptitudes ul li i {
    font-size: 24px;
    line-height: 24px;
    width: 24px;
  }
  #habilidades-container {
    padding: 30px;
    width: 450px;
  }
  #habilidades-container h2 {
    font-size: 36px;
    margin-bottom: 32px;
  }
  #habilidades-ul {
    display: flex;
    padding: 0 30px;
  }
  #habilidades-ul ul li {
    padding: 10px;
    font-size: 24px;
  }
  #habilidades-ul ul li i {
    font-size: 24px;
    line-height: 24px;
    width: 24px;
  }
  /* About-Education Section */
  #education-section {
    padding: 40px 0;
    margin: auto;
  }
  #education-section h2 {
    font-size: 38px;
    font-weight: bold;
    margin: 40px 0;
  }
  #educacion {
    width: 100%;
  }
  #educacion .left-education h3 {
    font-size: 18px;
    font-weight: normal;
  }
  #educacion .left-education h3 span {
    font-weight: bold;
    font-size: 20px;
  }
  #educacion .right-education {
    text-align: right;
  }
  #educacion .right-education h4 {
    font-size: 18px;
  }
  #educacion .right-education a {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  #educacion .right-education a:hover {
    color: #1cbfdf;
  }
  #psp-illustrator {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border-top: 1px solid #535456;
  }
  #uxui {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border-top: 1px solid #535456;
  }
  #uxui-avanzado {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border-top: 1px solid #535456;
  }
  #webd {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border-top: 1px solid #535456;
  }
  #contacto-container h1 {
    font-size: 36px;
  }
  #buttons-container #checkbox ul {
    height: 250px;
  }
  #buttons-container #checkbox ul li label {
    font-size: 24px;
    padding: 16px 24px;
  }
  #forms {
    padding: 30px;
  }
  #forms h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  #form-container input {
    padding: 10px 20px;
    font-size: 18px;
  }
  #form-container input::placeholder {
    font-size: 16px;
  }
  #submit-btn {
    padding: 40px 10px;
  }
  #submit-btn button {
    font-size: 18px;
    padding: 10px 60px;
  }
  #last-project #figma-prototype {
    width: 360px;
    height: 800px;
  }
}
/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Home Page */
  #intro {
    padding: 20px;
  }
  #img-container {
    display: none;
  }
  #descripciones {
    padding: 20px;
  }
  .logos {
    line-height: 48px;
    font-size: 48px;
  }
  .cv-btn button {
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
  }
  .about-btn button {
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
  }
  #projects {
    margin: 0px;
    width: 100%;
    display: flex;
  }
  #projects-info-container {
    padding: 20px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
  }
  #projects-container {
    margin: auto;
    padding: 0;
  }
  #a-link-projects {
    margin: auto;
    padding: 20px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
  }
  #a-link-projects a img {
    align-items: center;
    justify-content: center;
    width: 500px;
  }
  .footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  #contacto-container h1 {
    font-size: 32px;
  }
  #buttons-container #checkbox ul {
    height: 250px;
  }
  #buttons-container #checkbox ul li label {
    font-size: 20px;
    padding: 16px 24px;
  }
  #forms {
    padding: 20px;
  }
  #forms h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #form-container input {
    width: 100%;
    margin: 16px 0;
    padding: 10px 20px;
    font-size: 18px;
  }
  #form-container input::placeholder {
    font-size: 16px;
  }
  #submit-btn {
    padding: 40px 10px;
  }
  #submit-btn button {
    font-size: 18px;
    padding: 10px 60px;
  }
  #last-project #figma-prototype {
    width: 360px;
    height: 800px;
  }
  #about {
    padding: 1rem 1rem;
  }
  #descripciones-about {
    padding: 24px;
    font-size: 18px;
    font-weight: 200;
  }
  #descripciones-about span {
    color: #1cbfdf;
    font-size: 2rem;
    font-weight: 1200;
    font-family: "Fragment";
  }
  .education-btn button {
    width: max-content;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
  }
  .contact-btn button {
    width: max-content;
    width: 100%;
    font-size: 18px;
  }
  #more-info {
    margin: auto;
    padding-bottom: 40px;
  }
  /* Sección Izquierda */
  #aptitudes {
    margin: 40px auto;
    padding: 24px;
    background-color: #333538;
    border-radius: 16px;
    box-shadow: 0 0 20px rgb(22, 25, 27);
    width: 500px;
  }
  #aptitudes h2 {
    font-size: 32px;
    font-family: "Fragment";
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  #aptitudes h2 span {
    color: #1cbfdf;
    font-family: "Fragment";
    font-style: italic;
  }
  .aptitudes-ul {
    padding: 0 10px;
  }
  .aptitudes-ul ul li {
    padding: 10px 0px;
    font-size: 20px;
  }
  .aptitudes-ul ul li i {
    margin-right: 20px;
    font-size: 24px;
    width: 29px;
    text-align: center;
  }
  /* Sección Derecha */
  #habilidades-container {
    justify-content: center !important;
    margin: 40px auto;
    padding: 20px;
    background-color: #333538;
    border-radius: 16px;
    box-shadow: 0 0 20px rgb(22, 25, 27);
    width: 500px;
  }
  #habilidades-container h2 {
    font-size: 32px;
    font-family: "Fragment";
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  #habilidades-container h2 span {
    color: #1cbfdf;
    font-family: "Fragment";
    font-style: italic;
  }
  .habilidades-ul {
    padding: 0 10px;
  }
  .habilidades-ul ul li {
    padding: 10px 0px;
    font-size: 20px;
  }
  .habilidades-ul ul li i {
    margin-right: 20px;
    font-size: 24px;
    width: 29px;
    text-align: center;
  }
  /* About-Educación */
  #education-section {
    padding: 20px 0;
    margin: auto;
  }
  #education-h2 h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
  }
  #educacion {
    width: 100%;
  }
  #educacion .left-education h3 {
    font-weight: normal;
    font-size: 18px;
  }
  #educacion .left-education h3 span {
    font-weight: bold;
    font-size: 24px;
  }
  #educacion .right-education {
    text-align: right;
    font-size: 18px;
  }
  #educacion .right-education h3 {
    text-align: right;
    font-size: 20px;
  }
  #educacion .right-education a {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  #educacion .right-education a:hover {
    color: #1cbfdf;
  }
  #psp-illustrator {
    padding: 30px 20px;
    border-top: 1px solid #535456;
  }
  #uxui {
    padding: 30px 20px;
    border-top: 1px solid #535456;
  }
  #uxui-avanzado {
    padding: 30px 20px;
    border-top: 1px solid #535456;
  }
  #webd {
    padding: 30px 20px;
    border-top: 1px solid #535456;
  }
  #habilidades {
    margin: auto;
  }
  #habilidades h1 {
    font-size: 42px;
  }
}
/* Mobile View */
@media (min-width: 300px) and (max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #intro {
    padding: 1rem 1rem;
    flex-wrap: wrap;
  }
  #img-container {
    display: none;
  }
  #descripciones {
    padding: 1rem;
    font-size: 1rem;
  }
  #descripciones span {
    font-size: 2rem;
  }
  #descripciones p {
    font-size: 1rem;
  }
  .logos {
    line-height: 36px;
    font-size: 36px;
  }
  .cv-btn button {
    width: max-content;
    padding: 10px 20px;
    font-size: 14px;
  }
  .about-btn button {
    width: max-content;
  }
  .cv-btn button {
    width: 100%;
  }
  .about-btn button {
    width: 100%;
  }
  #projects {
    margin: 0px;
    width: 100%;
    display: flex;
    padding-bottom: 40px;
  }
  #projects-info-container {
    padding: 20px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
  }
  #projects-info-container h2 {
    font-family: "Fragment";
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin: none;
  }
  #projects-info-container h2 span {
    color: #1cbfdf;
    font-family: "Fragment";
    font-style: italic;
    align-items: center;
  }
  #projects-container {
    margin: auto;
    padding: 0;
    display: flex !important;
  }
  #projects-container img {
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  #projects-container a div {
    display: block;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    color: #212427;
    transition: all 0.3s ease;
  }
  #a-link-projects {
    display: flex;
    justify-content: center;
  }
  #a-link-projects img {
    width: 260px;
    justify-content: center;
    padding: 20px 0;
  }
  #a-link-projects img:hover {
    filter: brightness(0.7);
  }
  #main-nav a:hover {
    transition: all 300ms ease;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    border-radius: 16px;
    padding: auto;
    background-color: #ffffff;
  }
  #nav-container a span {
    display: n;
  }
  #footer #footer-columns {
    width: 100%;
  }
  #footer #footer-container {
    margin: 0;
  }
  #footer #footer-container #footer-columns {
    justify-content: center;
    height: auto;
    padding: 32px;
  }
  #footer #footer-container #footer-columns .contacto {
    padding: auto;
  }
  /* About Page */
  #about {
    color: #ffffff;
    display: flex;
    padding: 1rem 1rem;
    align-items: center;
  }
  #descripciones-about {
    padding: 20px;
    font-size: 1rem;
    font-weight: 200;
  }
  #descripciones-about span {
    color: #1cbfdf;
    font-size: 2rem;
    font-weight: 1200;
    font-family: "Fragment";
  }
  .education-btn button {
    width: max-content;
    padding: 10px 20px;
    font-size: 14px;
    width: 100%;
  }
  .contact-btn button {
    width: max-content;
    width: 100%;
  }
  #more-info {
    max-width: 1500px;
    margin: auto;
    padding-bottom: 40px;
  }
  /* Sección Izquierda */
  #aptitudes {
    margin: 40px 20px;
    padding: 20px;
    background-color: #333538;
    border-radius: 16px;
    box-shadow: 0 0 20px rgb(22, 25, 27);
    width: fit-content;
  }
  #aptitudes h2 {
    font-size: 32px;
    font-family: "Fragment";
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  #aptitudes h2 span {
    color: #1cbfdf;
    font-family: "Fragment";
    font-style: italic;
  }
  .aptitudes-ul {
    padding: 0 10px;
  }
  .aptitudes-ul ul li {
    padding: 10px 0px;
    font-size: 20px;
  }
  .aptitudes-ul ul li i {
    margin-right: 20px;
    font-size: 24px;
    width: 29px;
    text-align: center;
  }
  /* Sección Derecha */
  #habilidades-container {
    margin: 40px 20px;
    padding: 20px;
    background-color: #333538;
    border-radius: 16px;
    box-shadow: 0 0 20px rgb(22, 25, 27);
    width: fit-content;
  }
  #habilidades-container h2 {
    font-size: 32px;
    font-family: "Fragment";
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  #habilidades-container h2 span {
    color: #1cbfdf;
    font-family: "Fragment";
    font-style: italic;
  }
  .habilidades-ul {
    padding: 0 10px;
  }
  .habilidades-ul ul li {
    padding: 10px 0px;
    font-size: 20px;
  }
  .habilidades-ul ul li i {
    margin-right: 20px;
    font-size: 24px;
    width: 29px;
    text-align: center;
  }
  /* About-Educación */
  #education-section {
    padding: 20px 0;
    margin: auto;
  }
  #education-h2 h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
  }
  #educacion {
    width: 100%;
  }
  #educacion .left-education h3 {
    font-weight: normal;
    font-size: 14px;
  }
  #educacion .left-education h3 span {
    font-weight: bold;
    font-size: 18px;
  }
  #educacion .right-education {
    text-align: right;
    font-size: 14px;
  }
  #educacion .right-education h4 {
    text-align: right;
    font-size: 14px;
  }
  #educacion .right-education a {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  #educacion .right-education a:hover {
    color: #1cbfdf;
  }
  #psp-illustrator {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top: 1px solid #535456;
  }
  #uxui {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top: 1px solid #535456;
  }
  #uxui-avanzado {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top: 1px solid #535456;
  }
  #webd {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top: 1px solid #535456;
  }
  #contacto-container h1 {
    font-size: 24px;
  }
  #buttons-container #checkbox {
    width: 100%;
  }
  #buttons-container #checkbox ul {
    height: auto;
    width: 100%;
  }
  #buttons-container #checkbox ul li {
    width: 100%;
  }
  #buttons-container #checkbox ul li label {
    margin: 8px 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 16px 0;
  }
  #forms {
    padding: 20px;
  }
  #forms h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  #form-container input {
    width: 100%;
    margin: 16px 0;
    padding: 10px 20px;
    font-size: 14px;
  }
  #form-container input::placeholder {
    font-size: 14px;
  }
  #submit-btn {
    padding: 16px 10px;
  }
  #submit-btn button {
    font-size: 18px;
    padding: 10px 60px;
    font-size: 14px;
    width: 100%;
  }
  #last-project #figma-prototype {
    width: 222px;
    height: 494px;
  }
  .about-main {
    padding: 32px;
  }
  #habilidades {
    margin: auto;
  }
  #habilidades h1 {
    font-size: 36px;
  }
  #habilidades ul {
    gap: 1rem;
    grid-auto-rows: 125px;
    grid-template-columns: repeat(auto-fill, minmax(113px, 1fr));
  }
  #habilidades ul li {
    width: 113px;
    font-size: 16px;
  }
  #habilidades ul li i {
    font-size: 24px;
    padding: 10px 16px;
  }
}

/*# sourceMappingURL=main.css.map */
