/* Home Page */

#Hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#intro {
    padding: 3rem 2rem;
}
#img-container img {
    width: 300px;
}
#descripciones {
    padding-left: 12rem;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 200;
    align-items: center;
        span {
            color: $primary-color;
            font-size: 3rem;
            font-weight: 1200;
            font-family: "Fragment";
        }
        p {
            color: #ffffff;
            font-size: 1.5rem;
        }
}
.logos-container {
    padding: 1rem 0;
        .logos {
            font-size: 36px;
            line-height: 36px;
        }
}
#projects {
    margin: 0px;
    width: 100%;
    display: flex;
}
#projects-info-container {
    padding: 20px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}
#projects-container {
    margin: auto;
    padding: 0;
}
#a-link-projects {
    margin: auto;
    padding: 20px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
        a img {
            align-items: center;
            justify-content: center;
            width: 280px;
        }
} 

/* About Page */

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#descripciones-about {
    padding-left: 12rem;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 200;
    align-items: center !important;
        span {
            color: $primary-color;
            font-size: 3rem;
            font-weight: 1200;
            font-family: "Fragment";
        }
        p {
            color: #ffffff;
            font-size: 1.5rem; 
        }
}
/* About-Skills */

#more-info {
    margin: 0;
    padding-bottom: 40px;
}
#info-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
#aptitudes {
    padding: 20px;
    width: 450px;
        h2 {
            font-size: 36px;
            margin-bottom: 32px;
        }
        ul {
            padding: 0 30px;
            li {
                padding: 10px;
                font-size: 24px;
                    i {
                        font-size: 24px;
                        line-height: 24px;
                        width: 24px;
                    }
            }
        }
}
#habilidades-container {
    padding: 30px;
    width: 450px;
        h2 {
            font-size: 36px;
            margin-bottom: 32px;
        }
}
#habilidades-ul {
    display: flex;
    padding: 0 30px;
        ul li {
            padding: 10px;
            font-size: 24px;
                i {
                    font-size: 24px;
                    line-height: 24px;
                    width: 24px;
                }
        }
}

/* About-Education Section */

#education-section {
    padding: 40px 0;
    margin: auto;
        h2 {
            font-size: 38px;
            font-weight: bold;
            margin: 40px 0;
        }
}
#educacion {
    width: 100%;
        .left-education h4{
            font-size: 18px;
            font-weight: normal;
                span {
                    font-weight: bold;
                    font-size: 20px;
                }
        } 
        .right-education {
            text-align: right;
                h4 {
                    font-size: 18px;
                }
                a {
                    color: #fff;
                    font-weight: bold;
                    font-style: italic;
                    text-decoration: none;
                    transition: all 0.3s ease;
                        &:hover {
                            color: $primary-color;
                        }
                }
        }
}
#psp-illustrator {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border-top: 1px solid $cards-color;
}
#uxui {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border-top: 1px solid $cards-color;
}
#uxui-avanzado {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border-top: 1px solid $cards-color;
}
#webd{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    border-top: 1px solid $cards-color;
}