
// Variables

    // Tipografía

    @font-face {
        font-family: "Fragment";
        src: url(../fonts/Fragment/PPFragment-SerifRegular.otf);
    }

    // Colores

    $primary-color: #1cbfdf; 
    $bg-color: #212427;
    $buttons-color: #00667a;
    $buttons-hovered: #0093b1;
    $cards-color: #535456;
    $ligth-grey: #333538;
    $secondary-button-border: #9d9d9d;
    
    