* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}
@font-face {
    font-family: "Fragment";
    src: url(../fonts/Fragment/PPFragment-SerifRegular.otf);
}
@import "./variables";

// SCSS

body {
    color: #ffffff;
}
.header {
    background-color: $bg-color;
    color: #ffffff;
}

// NavBar

#nav-father {
    background-color: $bg-color;
    margin: 0px;
    padding: 0px;
}
#nav-container {
    background-color: $bg-color;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 1rem 3rem;
        
        a {
            text-decoration: none;
                span {
                    display: none;
                }
        }
}
#logo {
    img {
        width: 48px;
        height: 48px;
    }
}
main {
    background-color: $bg-color;
}
#main-nav{
    margin: 1rem;
    display: flex;
    font-weight: 400;
    padding: 10px 10px;
        a{
            color: #ffffff;
            text-decoration: none;
            transition:all 300ms ease;
            border-radius: 16px;
                &:hover {
                    transition:all 300ms ease;
                    text-decoration: none;
                    color: #000000;
                    font-weight: 800;
                    border-radius: 16px;
                    padding: 5px 15px;
                    background-color: #ffffff;
                }   
        }
        li{
            margin: 0 1rem;
            text-decoration: none;
            transition:all 300ms ease;
            border-radius: 16px;
        }
}
#drawer-button {
    color: #fff;
    background-color: #fff;
}
.contact-btn {
    button {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        background-color: #fff;
        display: inline;
        justify-content: right;
        padding: 10px 24px;
        border-radius: 16px;
        font-weight: bold;
        color: #000000;
        border-style: solid;
        border-color:#fff;
        transition: all 300ms ease;
        cursor: pointer;
            &:hover {
                background-color: $bg-color;
                color: #ffffff;
                border-style: solid;
                border-color: #ffffff;
                font-weight: 900;
        }   
    }
}

/* Inicio */

.brand-name {
    font-size: 2rem;
}
#intro {
    color: #ffffff;
    display: flex;
    padding: 4rem 12rem;
    align-items: center;
}
main a{
    text-decoration: none;
}
#descripciones {
    padding: 6rem;
    font-size: 2rem;
    font-weight: 200;
        span {
            color: $primary-color;
            font-size: 4rem;
            font-weight: 1200;
            font-family: "Fragment";
        } 
        p {
            color: #ffffff;
            font-size: 2rem;
        } 
}
.logos-container {
    display: flex;
    margin: auto;
    width: 100%;
    grid-gap: 50px;
    padding: 45px 0;
}
.logos {
    line-height: 46px;
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $primary-color;
}
.cv-btn button {
    margin-top: 10px;
    padding: 10px 24px;
    font-size: 1rem;
    border-radius: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    display: inline;
    font-weight: bold;
    color: #000000;
    border-style: solid;
    border-color:#fff;
    transition: all 300ms ease;
    cursor: pointer;
        &:hover {
            background-color: $bg-color;
            color: #fff;
            border-style: solid;
            border-color: #fff;
            font-weight: 900;
        }   
}
.about-btn button {
    margin-top: 10px;
    padding: 10px 24px;
    font-size: 1rem;
    border-radius: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $bg-color;
    display: inline;
    font-weight: bold;
    color: #9d9d9d;
    border-style: solid;
    border-color:#9d9d9d;
    transition: all 300ms ease;
    cursor: pointer;
        &:hover {
            background-color: $bg-color;
            color: #fff;
            border-style: solid;
            border-color: #fff;
            font-weight: bold;
        }   
}
#projects {
    max-width: 1500px;
    margin: auto;
    padding-bottom: 40px;
}
#projects-info-container {
    width: 100%;
        h2 {
            font-family: "Fragment";
            color: #fff;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        span {
            color: $primary-color;
            font-family: "Fragment";
            font-style: italic;
        }
}
#projects-container {
    width: 100%;
    display: flex;
    align-items: center;
    place-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    border-radius: 16px;
    background-color: $ligth-grey;
        img {
            border-radius: 8px;
            transition: all 0.3s ease
        }
        a div {
            display: block;
            text-align: center;
            background-color: #fff;
            padding: 10px;
            border-radius: 8px;
            font-weight: bold;
            text-decoration: none;
            color: $bg-color;
            transition: all 0.3s ease
        }
}
#a-link-projects {
    transition: all 0.3s ease;
        img {
        width: 328px;
        }
        &:hover{
            filter: brightness(0.7);
        }
}

/* Portfolio Page */

.last-project {
    display: block;
}
.last-project-container {
    text-align: center;
    padding: 40px 0;
        h1 {
            font-size: 42px;
            font-weight: bold; 
            padding: 40px;
                span {
                    color: $primary-color;
                    font-family: "Fragment";
                }  
        }
}
.project-iframe {
    display: flex;
    justify-content: center;
}

/* Footer */

#footer {
    width: 100%;
    background-color: rgb(20, 18, 18);
    font-size: 18px;
    bottom: 0%;
    position: relative;
        a {
            color: #bbbbbb;
            transition: all 0.3s ease;
                &:hover {
                    color: $primary-color;
                    padding-left: 10px;
                }
        }
        #footer-container {
            width: 100%;
            margin: auto;
            display: flex;
            padding: 45px 0;
            flex-wrap: wrap;
                #footer-columns {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                        .indice {
                            margin: 0;
                            padding: 0;
                        }
                }
                #footer-social  {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 32px;   
                        a {    
                            text-decoration: none;
                            color: #bbbbbb;
                            width: 70px !important;
                            line-height: 70px !important;
                            margin-right: 10px;
                            background-color: $bg-color;
                            text-align: center;
                            border-radius: 100%;
                            transition: all 300ms ease;
                                &:hover {
                                    color: #ffffff;
                                    background-color: $buttons-color;
                                    padding-left: 0;
                                }
                        }
                }
        }
        #footer-bottom {
            background-color: #070707;
            padding: 15px 10px;
            text-align: center;
            color: #ffffff;
                small {
                    font-size: 15px;    
                }
        }
}

/* Contacto.html */

.main-contact {
    padding: 25px;
}
#contacto-container {
    h1 {
        font-family: Fragment;
        font-size: 48px;
        font-weight: bold;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Botones */

#buttons-container   {
    margin: 10px auto;
        #checkbox {
            width: 100%;
        ul  {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: 300px;
                li {
                    display: inline-block;
                    margin: 0 20px;
                        label {
                            display: inline-block;
                            background-color: $bg-color;  
                            border: 1px solid $secondary-button-border;
                            color: #bbbbbb;
                            border-radius: 16px;
                            transition: all 0.3s ease;
                            padding:  20px 40px;
                            font-size: 30px;
                            font-weight: bold;
                                &:hover {
                                    font-weight: bold;
                                    border-color: $buttons-hovered;
                                }
                        }
                        input[type="checkbox"] {
                            opacity: 0;
                                &:checked + label {
                                    border-color: #ffffff;
                                    background-color: $buttons-color;
                                }
                        }
                }
        }
        }
}

/* Formulario */
.forms {
    max-width: 1200px;
    margin: 10px auto;
    background-color: $ligth-grey;
    border-radius: 16px;
    padding: 40px;
        h2 {
            font-size: 32px;
            font-weight:bolder;
            text-align: center;
            margin-bottom: 40px;
        }
}
.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        input {
            width: max-content;
            padding: 20px 40px;
            margin: 0 auto;
            background-color: $cards-color;
            border: none;
            color: #fff;
            font-weight: 800;
            border-radius: 16px;
            font-size: 20px;
        }
}
.submit-btn {
    display: flex;
    justify-content: end;
    margin: 40px 25px 20px;
        button {
            padding: 10px 80px;
            font-size: 20px;
            font-weight: bold;
            border-radius: 16px;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $bg-color;
            display: inline;
            font-weight: bold;
            color: #bbb;
            border-style: solid;
            border-color:#bbb;
            transition: all 300ms ease;
            cursor: pointer;
                &:hover {
                    background-color: $buttons-color;
                    color: #fff;
                }
        }
}
main a{
    text-decoration: none;
}
.descripciones {
    padding: 6rem;
    font-size: 2rem;
    font-weight: 200;
        span {
            color: $primary-color;
            font-size: 4rem;
            font-weight: 1200;
            font-family: "Fragment";
        }
        p {
            color: #ffffff;
            font-size: 2rem;
        }
}

/* About Page */

#about {
    color: #ffffff;
    display: flex;
    padding: 4rem 12rem;
    align-items: center;
}
#descripciones-about {
    padding: 6rem;
    font-size: 2rem;
    font-weight: 200;
        span {
            color: $primary-color;
            font-size: 4rem;
            font-weight: 1200;
            font-family: "Fragment";
        }
}
.education-btn button {
    margin-top: 50px;
    padding: 10px 24px;
    font-size: 1rem;
    border-radius: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $bg-color;
    display: inline;
    font-weight: bold;
    color: #9d9d9d;
    border-style: solid;
    border-color:#9d9d9d;
    transition: all 300ms ease;
    cursor: pointer;
    transition: all 0.3s ease;
        &:hover {
            background-color: $bg-color;
            color: #fff;
            border-style: solid;
            border-color: #fff;
            font-weight: bold;
        }
}
.contact-btn button {
    margin-top: 10px;
    padding: 10px 24px;
    font-size: 1rem;
    border-radius: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    display: inline;
    font-weight: bold;
    color: #000000;
    border-style: solid;
    border-color:#fff;
    transition: all 300ms ease;
    cursor: pointer;
        :hover {
            background-color: $bg-color;
            color: #fff;
            border-style: solid;
            border-color: #fff;
            font-weight: 900;
        }
}
#aboutme-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-container {
    display: flex;
    padding: auto;
    justify-content: space-between;
}
#more-info {
    max-width: 1500px;
    margin: auto;
    padding-bottom: 40px;
}

/* Sección Izquierda */

#aptitudes  {
    display: inline-block;
    padding: 50px;
    background-color: $ligth-grey;
    border-radius: 16px;
    box-shadow: 0 0 20px rgb(22, 25, 27);
    width: 720px;
        h2 {
            font-size: 46px;
            font-family: "Fragment";
            font-weight: bold;
            margin-bottom: 40px;
            text-align: center;
                span {
                    color: $primary-color;
                    font-family: "Fragment";
                    font-style: italic;
                }
        }
}
.aptitudes-ul {
    display: flex;
    padding: 0 30px;
        ul li {
            padding: 10px;
            font-size: 28px;
                i {
                    margin-right: 40px;
                    font-size: 28px;
                    width: 29px;
                    text-align: center;
                }
        }
}

/* Sección Derecha */

#habilidades-container {
    display: inline-block;
    padding: 50px;
    background-color: $ligth-grey;
    border-radius: 16px;
    box-shadow: 0 0 20px rgb(22, 25, 27);
    width: 720px;
        h2{
            font-size: 46px;
            font-family: "Fragment";
            font-weight: bold;
            margin-bottom: 40px;
            text-align: center;
                span {
                    color: $primary-color;
                    font-family: "Fragment";
                    font-style: italic;
                }
        }
}
.habilidades-ul {
    display: flex;
    padding: 0 30px;
        ul li {
            padding: 10px;
            font-size: 28px;
                i {
                    margin-right: 40px;
                    font-size: 28px;
                    width: 29px;
                    text-align: center;
                }
        }
}

/* About-Educación */

.education-section {
    max-width: 1500px;
    padding: 40px 0;
    margin: auto;
        h2 {
            font-size: 38px;
            font-weight: bold;
            margin: 40px 0;
        }
}
#educacion {
    width: 100%;
        .left-education h4{
            font-weight: normal;
                span {
                    font-weight: bold;
                    font-size: 20px;
                }
        }
        .right-education {
            text-align: right;
                a {
                    color: #fff;
                    font-weight: bold;
                    font-style: italic;
                    text-decoration: none;
                    transition: all 0.3s ease;
                        &:hover {
                            color: $primary-color;
                        }
                }
        }
}
#psp-illustrator {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top: 1px solid $cards-color;
}
#uxui {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top: 1px solid $cards-color;
}
#uxui-avanzado {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top: 1px solid $cards-color;
}
#webd{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top: 1px solid $cards-color;
}

/* Habilidades Page */

.about-main {
    display: flex;
    justify-content: center;
    padding: 100px;
}
.skill-container {
    background-color: $ligth-grey;
    display: flex;
    border-radius: 16px;
    justify-content: center;
    align-items: top;
    max-width: 1200px;
    padding: 25px auto;
    margin-bottom: 25px;
    width: 100%;
}
.habilidades {
    max-width: 1200px;
    padding: 25px;
    display: inline-block;
    border-radius: 16px;
    margin: 50px;
        h1{
            text-align: center;
            padding-bottom: 20px;
            font-size: 48px;
            color: $primary-color;
        }
        p{
            margin-bottom: 25px;
            color: #bbb;
            text-align: center;
        }
        ul {
            padding: 25px 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            text-align: center;
                li {
                    display: inline;
                    padding: 25px;
                    font-size: 26px;
                    border-radius: 16px;
                    background-color: $bg-color;
                    transition: all 0.3s ease;
                    box-shadow: 0px 0px 20px $bg-color;
                        i{
                            font-size: 46px;
                            display: block;
                            padding: 20px 25px;
                        }
                        :hover {
                            background-color: $cards-color;
                        }
                }
        }
}

/* md-Desktop */

@media (min-width: 1024px) and (max-width: 1439px) {
    @import "./media-querys/desktop-md";
}

/* Tablet View */

@media (min-width: 768px) and (max-width: 1023px) {
    @import "./media-querys/tablet";
}

/* Mobile View */

@media (min-width: 300px) and (max-width: 480px) { 
    @import "./media-querys/mobile";
}